h1, h2, h3 {
  font-weight: normal;
  color: #4b2e83;
}
a, a > code { 
  color: #3c832e;
}
.remark-code-line-highlighted { background-color: #e8e3d3; }

.inverse {
  background-color: #4b2e83;
}
.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #fff;
}
